/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-11-2015, 20:40:51
    Author     : Javier
*/

.logo{
    height: 110px;
}
.sociales{
    height: 110px;
    text-align: right;    
}

.sociales #facebook{
    position:absolute;
    bottom:5px;
    right:10px;    
}
.sociales #twitter{
    position:absolute;
    bottom:5px;
    right:45px;    
}
.menu:after {
    position: absolute;
    bottom: -9px;
    left: -16px;
    z-index: -1;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid transparent;
    border-right: 16px solid #4C9202;
    content: "";
}
.menu:before {
    position: absolute;
    right: -20px;
    top: 39px;
    z-index: -1;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #4C9202;
    border-right: 20px solid transparent;
    content: "";  
}

.carrucel{
    height: auto;    
}
#contenedor-footer{
    -webkit-box-shadow: inset 1px 61px 34px -53px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 1px 61px 34px -53px rgba(0,0,0,0.75);
    box-shadow: inset 1px 61px 34px -53px rgba(0,0,0,0.75);
}
.footer{
    color: #fff;    
    height: auto;    
    font-family: "Trebuchet MS",sans-serif;
    font-size: 13px;
    font-style: inherit;
    font-weight: inherit;
}
.columna-footer{
    padding: 17px;
}
.columna-footer a{    
    color: #fff;
}
.columna-footer ul{
    list-style: none;
}
.empresa{
    text-align: justify;
    padding: 10px 20px 10px 20px;
}
.empresa img{
    width: 100%;
    margin: 0 auto;
}
.formulario-contacto{
    padding: 1px 40px 40px 40px;
}
.mapa{
    height: 400px; 
    padding: 20px 10px 10px 10px;
}
.thumbnail img{
    width: 97%;
}
.precio strong {
    color: #09c;
    font-size: 16px;
}
.resDatos{
    width: 100%;
    margin: 5px 0 0 -2px;
    color: #666;   
}
.resDatos figure{
    float: left;
}
.resDatos img{
    width: 30px;
}
.dato1, .dato2, .dato3{
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    width: auto;
    font-size: 0.8em;
    display: inline-block;
    vertical-align: top;   
}
.dato3{
    width: 110px;    
}
.resDormitorios, .resBanios, .resMetraje{    
    margin-left: 10px;
    margin-top: 6px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.boton-conoce{
    padding-top: 10px;
    padding-left: 65px;
}
.filtros{
    width: 235px;
    padding-left: 10px;
    text-align: left;
    color: #666;
    padding-top: 10px;
}
.rangoNumero1, .rangoNumero2, .rangoNumero3, .rangoNumero4, .rangoNumero5, .rangoNumero6{
    margin: 0;
    padding: 0 0 0 0px;
    width: 30px;
    display: inline-block;
    vertical-align: top;
    color: #666;
    font-size: 0.75em;
}
.tabla-principal{
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 477px;
}
.toalbar-table{
    padding: 10px;
}
.titulo-modal{
    padding-left: 20px;
    padding-bottom: 0px;
}